html {
    font-size: 10px;/* px means 'pixels':the base font size is now 10 pixel high*/
    font-family: 'Open Sans', sans-serif;/*this should be the rest of teh output you got from Google Fonts */
    background-color: #4A87C4;
  }
body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;/*top no border space*/
    border: 5px solid black;/*colour border*/
 }    

 h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;/* to eliminate the gap on top */
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px blue;/*1st is horizontal offset, 2nd vertcal offest, 3rd blur radius, 4th base colour of shadow */
  }

p,
li{
   font-size: 16px;
   line-height: 2;
   letter-spacing: 1px;
 }

 img{
   display: block;/* takes up space on the page */
   margin: 0 auto;   
 }

